<style>
    body {
        background: url(/assets/dogbg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<%= image_tag('logo.png', :class => 'homelogo') %>
<div class="homehero">
	<h1>welcome to paw<span style="color:#67cc79">pro</span>!</h1>
	<p>Pawpro lets you keep track of what your pets are doing when you're on vacation. Or if you're a pet sitter, you can keep track of all the necessary information to make the pets you're sitting comfortable.</p>
	<p>What are you waiting for? JOIN US</p>

	<%= form_tag "/users" , method: "post" do %>

      <%= render 'shared/error_messages' %>

      Name
      <%= text_field_tag :name, nil, {:class => 'form-control'} %><br/>

	  Email
      <%= text_field_tag :email, nil, {:class => 'form-control'} %><br/>

	  Password
      <%= text_field_tag :password, nil, {:class => 'form-control'} %><br/>

	  Password Confirmation
      <%= text_field_tag :password_confirmation, nil, {:class => 'form-control'} %><br/>

	  <%= button_tag(type: 'submit', class: 'btn btn-large btn-primary') do %>
        Create my account
      <% end %>
      <span style="float: right; position: relative; right:30px;">
      </span>
    <% end %>

</div>
