<h1 class="page-header">My Pets</h1>

<div class="row">
  <div class="col-md-9">
    <div id="mypets-container">
      <%= form_tag pets_mypetsactions_path, :id => 'mypets-form', :method => :post do %>
        <div class="controls form-inline">
          <%= text_field_tag 'sitter_email', nil, {:class => 'form-control', :placeholder => 'Sitter Email Address', :id => 'addsitter_field'}  %>
          <%= submit_tag 'Add Sitter', {:name => 'addsitter_btn', :class => 'btn btn-default', :id => 'addsitter_btn'} %>
          &nbsp;&nbsp;
          <%= submit_tag 'Remove Sitter', {:name => 'removesitter_btn', :class => 'btn btn-default', confirm: "Are you sure you would like to remove sitters from these pets?", :id => 'removesitter_btn'} %>
          <%= button_tag(type: 'submit', class: 'btn btn-default', name: 'delete_btn', :id => 'delete_btn', :data => {confirm: "Are you sure you would like to delete these pets?"}) do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </div>
        <% @pets.each do |pet| %>
          <div class="checkbox pull-left">
            <%= check_box_tag "pet_ids[]", pet.id, nil, {:onchange => 'checkIfChecked()'} %>
          </div>
          <%= link_to(pet) do %>
            <div class="my-pet-entry">
              <img class="pull-left my-pet-pic img-circle" src="http://placehold.it/100&text=my+pet" />
                <h2>
                  <%= pet.name %><br />
                  <small><%= pet.pet_type %> - 
                    <% if pet.sitter.nil? %>
                      No Sitter
                    <% else %>
                      Being sat by <%= pet.sitter.name %>
                    <% end %>
                  </small>
                </h2>
            </div>
          <% end%>
        <% end %>
      <% end %>
      <% if @pets.empty? %>
        <p>You have not added any of your pets.</p>
      <% end %>
    </div>
    <br />
    <a id="addpet-btn" class="btn btn-primary" href="#">+ Add Pet</a>
  </div>
  <div class="col-md-3 calendar">
    <%= render 'calendar' %>
  </div>
</div>

<div id="add-event" class="arrow_box">
  <%= link_to '&times;'.html_safe, '#', {:id => 'cancel-event-btn', :class => 'pull-right'} %>
  <%= form_tag pets_addevent_path, :id => 'add_event_form', :method => :post, :remote => true do %>
    <%= hidden_field_tag :event_date, nil, :id => 'event_date' %>
    <%= text_field_tag 'event_name', nil, {:class => 'form-control input-sm', :placeholder => 'New Appointment', :id => 'add-event-field', :required => true} %>
    <%= text_field_tag 'event_time', nil, {:class => 'form-control input-sm', :placeholder => 'Appointment Time', :id => 'event-time-field', :required => true} %>
    For Pet: <%= select_tag(:pet_id, options_for_select(@pets_select)) %><br />
    <%= button_tag(type: 'submit', class: 'btn btn-default btn-xs', :id => 'add-event-btn', :name => 'add_event') do %>
      Add
    <% end %>
    
  <% end %>
  
</div>


<div id="event-info" class="arrow_box">
  <div>
    <a href="#" id="close-event-info">&times;</span></a>
  </div>
  <div id="event-info-content">
  </div>
</div>


<script type="text/javascript">
  $("#addpet-btn").click(function(e){
    e.preventDefault();
    $("#mypets-container").append("<%= escape_javascript(render 'addpet', :@pet => @newpet) %>");
    $("#addpet-btn").css({'display':'none'});
  });

  $('#addsitter_field').attr("disabled", true);
  $('#addsitter_btn').attr("disabled", true);
  $('#removesitter_btn').attr("disabled", true);
  $('#delete_btn').attr("disabled", true);

  var closing = false;

  $('#addsitter_field').autocomplete({
      source: <%= raw @sitters.to_json %>,
      minLength: 0,
      close: function()
      {
          // avoid double-pop-up issue
          closing = true;
          setTimeout(function() { closing = false; }, 300);
      }
  })
  .focus(function() {
      if (!closing)
          $(this).autocomplete("search");
  });

  var checkIfChecked = function() {
    if ($("#mypets-form input:checkbox:checked").length > 0)
    {
      $('#addsitter_field').attr("disabled", false);
      $('#addsitter_btn').attr("disabled", false);
      $('#removesitter_btn').attr("disabled", false);
      $('#delete_btn').attr("disabled", false);
    }
    else
    {
      $('#addsitter_field').attr("disabled", true);
      $('#addsitter_btn').attr("disabled", true);
      $('#removesitter_btn').attr("disabled", true);
      $('#delete_btn').attr("disabled", true);
    }
  }
  
  $(".my-pets").addClass("active");

  $(document).ready(function() {
    $('#calendar').fullCalendar({
        // put your options and callbacks here
        events: <%= raw @events_array.to_json %>,

        eventClick: function(calEvent, jsEvent, view) {

          $('#event-info-content').html('<p>'+calEvent.title+' @ '+calEvent.time+'<br />For '+calEvent.pet_name+'</p>');
          $('#event-info').css({'display':'inline', 'position':'absolute', 'left':jsEvent.pageX-213-$('#event-info').outerWidth()/2, 'top':jsEvent.pageY+13});

        },
        dayClick: function(date, allDay, jsEvent, view) {

          $('#event_date').val(date);
          $('#add-event').css({'display':'inline', 'position':'absolute', 'left':jsEvent.clientX-213-$('#add-event').outerWidth()/2, 'top':jsEvent.clientY+13});
          $('#event-info').css({'display':'none'});

        },
        titleFormat: {
          month: '\'Appointments for \' MMM'
        }
    });

    $(".calendar").addClass("cal-hover");
    $("#add_event_form").validator();

    $("#cancel-event-btn").click(function(e) {
        $('#add-event').css({'display':'none'});
      })

    $('#close-event-info').click(function(e) {
      e.preventDefault();
      $('#event-info').css({'display':'none'});
      $('#event-info-content').html('');
    });

    $('#nextmonth').click(function(e) {
      e.preventDefault();
      $('#calendar').fullCalendar('next');
    });
    $('#lastmonth').click(function(e) {
      e.preventDefault();
      $('#calendar').fullCalendar('prev');
    });

    $('#calendar-pets').html('<p>Viewing appointments for all your pets.');

  });
</script>






