<h1 class="page-header">
  <%= @pet.name %>
  <span id="petsitter-info" class="pull-right">
    <% if @pet.owner != current_user %>
      <small>
        Owner: <%= @pet.owner.name %> | <%= link_to "Stop Sitting", pets_stopsitting_path(:petid => @pet.id), :confirm=>'Are you sure you would like to stop sitting this pet?' %>
      </small>
    <% else %>
      <% if @pet.sitter.nil? %>
        <%= render 'petsitter_form' %>
      <% else %>
        <small>
          Sitter: <%= @pet.sitter.name %> | <%= link_to "Remove", pets_removesitter_path(:petid => @pet.id), :confirm=>'Are you sure you would like to remove the sitter?', :remote => true %>
        </small>
      <% end %>
    <% end %>
  </span>
</h1>

<div class="row">
  <div class="col-md-9">

    <div class="pull-left">
      <img id="pet-prof" class="pet-pic" src="http://placehold.it/190&text=my+pet" />
      <div style="position: relative;">
      <input value="Update Profile Picture" type="file" id="uppic" style="position: relative; left:-11px; top:-3px">
      <div id="upbutton">change photo</div>
      </div>
    </div>
    <h1><small>Located in <%= @pet.owner.location %></small></h1>
    <p class="pet-description-text"><%= @pet.description %></p>
    
  </div>


  <div class="col-md-3 calendar">
    <%= render 'calendar' %>
  </div>

</div>

<div id="event-info" class="arrow_box">
  <div>
    <a href="#" id="close-event-info">&times;</span></a>
  </div>
  <div id="event-info-content">
  </div>
  <div>
    <%= form_tag pets_deleteevent_path, :id => 'deleteevent', :method => :post, :remote => true do %>
      <%= hidden_field_tag :event_id, nil, :id => 'event_id' %>
      <%= hidden_field_tag :pet_id, @pet.id %>
      <%= link_to "#", :onclick=>"$('#deleteevent').submit()" do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    <% end %>
  </div>
</div>

<% if @pet.owner.id === current_user.id %>

  <div id="add-event" class="arrow_box">
    <%= link_to '&times;'.html_safe, '#', {:id => 'cancel-event-btn', :class => 'pull-right'} %>
    <%= form_tag pets_addevent_path, :id => 'add_event_form', :method => :post, :remote => true do %>
      <%= hidden_field_tag :event_date, nil, :id => 'event_date' %>
      <%= hidden_field_tag :pet_id, @pet.id %>
      <%= text_field_tag 'event_name', nil, {:class => 'form-control input-sm', :placeholder => 'New Appointment', :id => 'add-event-field', :required => true} %>
      <%= text_field_tag 'event_time', nil, {:class => 'form-control input-sm', :placeholder => 'Appointment Time', :id => 'event-time-field', :required => true} %>
      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-xs', :id => 'add-event-btn', :name => 'add_event') do %>
        Add
      <% end %>
      
    <% end %>
    
  </div>


  <script>
    $(document).ready(function() {

      $('#calendar').fullCalendar({
        // put your options and callbacks here
        events: <%= raw @events.to_json %>,

        eventClick: function(calEvent, jsEvent, view) {

          $('#event-info-content').html('<p>'+calEvent.title+'<br />'+calEvent.time+'</p>');
          $('#event-info').css({'display':'inline', 'position':'absolute', 'left':jsEvent.pageX-213-$('#event-info').outerWidth()/2, 'top':jsEvent.pageY+13});
          $('#event_id').val(calEvent.id);
          $('#add-event').css({'display':'none'});

        },
        dayClick: function(date, allDay, jsEvent, view) {

          $('#event_date').val(date);
          $('#add-event').css({'display':'inline', 'position':'absolute', 'left':jsEvent.clientX-213-$('#add-event').outerWidth()/2, 'top':jsEvent.clientY+13});
          $('#event-info').css({'display':'none'});

        },

        titleFormat: {
          month: '\'Appointments for \' MMM'
        }


      });


      $(".calendar").addClass("cal-hover");
      $("#add_event_form").validator();

      $("#cancel-event-btn").click(function(e) {
        $('#add-event').css({'display':'none'});
      })

    });
    
  </script>
<% else %>
  <script>
    $(document).ready(function() {

      $('#calendar').fullCalendar({
        // put your options and callbacks here
        events: <%= raw @events.to_json %>,

        eventClick: function(calEvent, jsEvent, view) {

          $('#event-info').css({'display':'inline', 'position':'absolute', 'left':jsEvent.pageX-243-$('#event-info').outerWidth()/2, 'top':jsEvent.pageY+13});
          $('#event-info-content').html('<p>'+calEvent.title+'<br />'+calEvent.time+'</p>');
          $('#event_id').val(calEvent.id);

        },

        titleFormat: {
          month: '\'Appointments for \' MMM'
        }

      });

    });
    
  </script>
<% end %>

<script>

  $('#close-event-info').click(function(e) {
    e.preventDefault();
    $('#event-info').css({'display':'none'});
    $('#event-info-content').html('');
  });
  $(".pet_<%= @pet.id %>").addClass("active");
  $('#nextmonth').click(function(e) {
    e.preventDefault();
    $('#calendar').fullCalendar('next');
  });
  $('#lastmonth').click(function(e) {
    e.preventDefault();
    $('#calendar').fullCalendar('prev');
  });

  $('#calendar-pets').html('<p>Viewing appointments for <%= @pet.name %>.');
  $("#add-sitter-field").autocomplete({
    source: <%= raw @sitters.to_json %>, minLength: 0
  });
  var closing = false;

  $('#add-sitter-field').autocomplete({
      source: <%= raw @sitters.to_json %>,
      minLength: 0,
      close: function()
      {
          // avoid double-pop-up issue
          closing = true;
          setTimeout(function() { closing = false; }, 300);
      }
  })
  .focus(function() {
      if (!closing)
          $(this).autocomplete("search");
  });

</script>


<div id="timeline">
  <canvas id="timelineCanvas" height="400" width="854"></canvas>

  <% @pet.plodos.each do |plodo| %>
    <script>
      loadImage("<%= plodo.plodo_type %>", "<%= plodo.time %>", "<%= plodo.info %>", "<%= plodo.rand %>");
    </script>
  <% end %>

  <%= image_tag "timeline.png", :id => "timelineImage", :style => "horizontal-align: middle" %>
</div>

<%= form_tag pets_addplodo_path, :id => 'add_plodo_form', :method => :post, :remote => true do %>
  <%= hidden_field_tag :plodo_type, "empty", :id => 'add_plodo_form_type' %>
  <%= hidden_field_tag :time, "empty", :id => 'add_plodo_form_time' %>
  <%= hidden_field_tag :info, "empty", :id => 'add_plodo_form_info' %>
  <%= hidden_field_tag :rand, "empty", :id => 'add_plodo_form_rand' %>
  <%= hidden_field_tag :pet_id, @pet.id %>
  <%= button_tag(type: 'submit', :name => 'add_plodo', :style => "display: none") do %>
  <% end %>
<% end %>

<%= form_tag pets_editplodo_path, :id => 'edit_plodo_form', :method => :post, :remote => true do %>
  <%= hidden_field_tag :time, "empty", :id => 'edit_plodo_form_time' %>
  <%= hidden_field_tag :info, "empty", :id => 'edit_plodo_form_info' %>
  <%= hidden_field_tag :rand, "empty", :id => 'edit_plodo_form_rand' %>
  <%= button_tag(type: 'submit', :name => 'edit_plodo', :style => "display: none") do %>
  <% end %>
<% end %>

<%= form_tag pets_deleteplodo_path, :id => 'delete_plodo_form', :method => :post, :remote => true do %>
  <%= hidden_field_tag :rand, "empty", :id => 'delete_plodo_form_rand' %>
  <%= hidden_field_tag :pet_id, @pet.id %>
  <%= button_tag(type: 'submit', :name => 'delete_plodo', :style => "display: none") do %>
  <% end %>
<% end %>


<%= javascript_include_tag "timeline" %>
<script>
    getRandomPet();
</script>

<h3> Photos </h3>
<table>
<tr><td>
<div id="photos">
</div>
</td></tr>
<tr><td>
<div id="uploader"><span style="vartical-align: middle; position: relative; top:35px;">Drag photos here to upload</span></div>
</td></tr>
</table>


<script>
    function onDrop(e) {
        e.preventDefault();
        addRandomPet();
    }
    $(document).ready(function() {
            var name = '<%= @pet.name %>';
            var pic = document.getElementById("pet-prof");
            //pic.src = getRandomPet();
            pic.src = getNonrandomPet(name);
            var uploader = document.getElementById("uploader");
            $("#uppic").change(function(){
                var pic = document.getElementById("pet-prof");
                pic.src = getRandomPet();
            ;});
            uploader.addEventListener('drop', onDrop, true);
            uploader.addEventListener('dragover', function(e){e.preventDefault();}, true);
    });
</script>













