<h1 class="page-header">
  <%= @pet.name %>
  <span id="petsitter-info" class="pull-right">
    <% if @pet.sitter.nil? %>
      <%= render 'petsitter_form' %>
    <% else %>
      <small>
        Sitter: <%= @pet.sitter.name %> | <%= link_to "Remove", pets_removesitter_path(:petid => @pet.id), :confirm=>'Are you sure you would like to remove the sitter?', :remote => true %>
      </small>
    <% end %>
  </span>
  
</h1>

<div class="row">
  <div class="col-md-9">

    <div class="pull-left">
      <img class="pet-pic" src="http://placehold.it/190&text=my+pet" />
    </div>
    <h1><small>Located in <%= @pet.owner.location %></small></h1>
    <p class="pet-description-text"><%= @pet.description %></p>
    
  </div>


  <div class="col-md-3 calendar cal-hover">
    <h3>Appointments</h3>
    <div id="calendar"></div>
  </div>

</div>