<h1 class="page-header">Pets I'm Sitting</h1>

<div class="row">
  <div class="col-md-9">
    <div id="mypets-container">
      <%= form_tag pets_sittingpetsactions_path, :id => 'mypets-form', :method => :post do %>
        <div class="controls form-inline">
          <%= button_tag(type: 'submit', class: 'btn btn-default btn-reject', :id => 'delete_btn', :data => {confirm: "Are you sure you would like to stop sitting these pets?"}) do %>
            <span class="fa fa-trash-o"></span>
          <% end %>
        </div>
        <% @pets.each do |pet| %>
          <div class="checkbox pull-left">
            <%= check_box_tag "pet_ids[]", pet.id, nil, {:onchange => 'checkIfChecked()'} %>
          </div>
          <%= link_to(pet) do %>
            <div class="my-pet-entry">
              <img class="pull-left my-pet-pic img-circle" src="http://placehold.it/100&text=sitting+pet" />
                <h2>
                  <span><%= pet.name %></span> <small>(<%= pet.owner.name %>)</small><br />
                  <small>
                    <%= pet.pet_type %>
                  </small>
                </h2>
            </div>
          <% end%>
        <% end %>
      <% end %>
      <% if @pets.empty? %>
        <p>You are not sitting any pets.</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 calendar">
    <%= render 'calendar' %>
  </div>
</div>


<div id="event-info" class="arrow_box">
  <div>
    <a href="#" id="close-event-info">&times;</span></a>
  </div>
  <div id="event-info-content">
  </div>
</div>

<%= javascript_include_tag "fullcalendar" %>

<script type="text/javascript">

  var petphotolist = ["bird1.jpg",  "bunny1.jpg",  "cat1.jpg",  "cat2.jpg",  "cat3.jpg", "cat4.jpg", "cat5.jpg", "cat6.jpg", "cuttlefish1.jpg",  "dog1.jpg",  "dog2.jpg",  "dog3.jpg", "dog4.jpg", "dog5.jpg", "dog6.jpg", "dog7.jpg", "hedgehog1.jpg", "hedgehog2.jpg", "pig1.jpg", "seahorse1.jpg", "sloth1.jpg", "sloth2.jpg", "sloth3.jpg",  "hamster1.jpg",  "turtle1.jpg"];

  $(document).ready(function() {
   $(".my-pet-entry").each(function() {
       var name = this.childNodes[3].childNodes[1].innerHTML
       var img = this.childNodes[1];
       img.src = getNonrandomPet(name);
   });

    $('#delete_btn').attr("disabled", true);

    var checkIfChecked = function() {
      if ($("#mypets-form input:checkbox:checked").length > 0)
      {
        $('#delete_btn').attr("disabled", false);
      }
      else
      {
        $('#delete_btn').attr("disabled", true);
      }

    }
    
    $(".sitting-pets").addClass("active");


    $('#calendar').fullCalendar({
        // put your options and callbacks here
        events: <%= raw @events_array.to_json %>,

        eventClick: function(calEvent, jsEvent, view) {

          $('#event-info-content').html('<p>'+calEvent.title+' @ '+calEvent.time+'<br />For '+calEvent.pet_name+'</p>');
          $('#event-info').css({'display':'inline', 'position':'absolute', 'left':jsEvent.pageX-213-$('#event-info').outerWidth()/2, 'top':jsEvent.pageY+13});

        },
        titleFormat: {
          month: '\'Appointments for \' MMM'
        }
    });
    $('#close-event-info').click(function(e) {
      e.preventDefault();
      $('#event-info').css({'display':'none'});
      $('#event-info-content').html('');
    });

    $('#nextmonth').click(function(e) {
      e.preventDefault();
      $('#calendar').fullCalendar('next');
    });
    $('#lastmonth').click(function(e) {
      e.preventDefault();
      $('#calendar').fullCalendar('prev');
    });

    $('#calendar-pets').html('<p>Viewing appointments for pets you are sitting.');

  });
</script>
