<style>
    body {
        background: url(/assets/dogbg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<% provide(:title, 'Sign up') %>

<div class="homehero">
  <%= image_tag('logo.png', :class => 'homelogo') %>
  <div class="box">
    <h1>welcome to paw<span style="color:#67cc79">pro</span>!</h1>
    <p>Pawpro is the ultimate tool for helping you keep track of your pets!</p>
    <p>What are you waiting for? JOIN US</p>

    <div class="signinbox">
      <h3>Sign In</h3>
      <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.text_field :email, :class => 'form-control', :placeholder => "Email Address" %>

        <%= f.password_field :password, :class => 'form-control', :placeholder => "Password" %>

        <%= f.submit "Sign in", class: "btn btn-large btn-primary pull-right" %>
      <% end %>
    </div>

    <div class="signupbox">
      <h3>Sign Up</h3>
      <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages' %>

        <%= f.text_field :name, :class => 'form-control', :placeholder => "Full Name" %>

        <%= f.text_field :email, :class => 'form-control', :placeholder => "Email Address" %>

        <%= f.text_field :location, :class => 'form-control', :placeholder => "City" %>

        <%= f.password_field :password, :class => 'form-control', :placeholder => "Password" %>

        <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => "Password Confirmation" %>

        <%= f.submit "Create my account", class: "btn btn-large btn-primary pull-right" %>
      <% end %>
    </div>
  </div>

</div>
