<style>
    body {
        background: url(/assets/dogbg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<% provide(:title, 'Sign up') %>
<%= image_tag('logo.png', :class => 'homelogo') %>

<div class="homehero">
  <h1>welcome to paw<span style="color:#67cc79">pro</span>!</h1>
  <p>Pawpro lets you keep track of what your pets are doing when you're on vacation. Or if you're a pet sitter, you can keep track of all the necessary information to make the pets you're sitting comfortable.</p>
  <p>What are you waiting for? JOIN US</p>

  <div class="signinbox">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.text_field :email, :class => 'form-control', :placeholder => "Email Address" %>
      <br/>

      <%= f.password_field :password, :class => 'form-control', :placeholder => "Password" %>
      <br/>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      </span><br/>
    <% end %>
  </div>

  <div class="signupbox">
    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, :class => 'form-control', :placeholder => "Full Name" %>
      <br/>

      <%= f.text_field :email, :class => 'form-control', :placeholder => "Email Address" %>
      <br/>

      <%= f.password_field :password, :class => 'form-control', :placeholder => "Password" %>
      <br/>

      <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => "Password Confirmation" %>
      <br/>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

</div>
