<div class="col-sm-3 col-md-2 sidebar" id="sidebar" role="navigation">
  <div class="logo"><a class="logo-text" href="index.html">pet tracker</a> <a class="about-link" href="about.html">about</a></div>
  <ul class="nav nav-sidebar">

    <li class="category">
      <%= drop_down "Account" do %>
        <%= menu_item "Profile", user_path(current_user) %>
        <%= menu_item "Settings", edit_user_path(current_user) %>
        <%= drop_down_divider %>
        <%= menu_item "Sign out", signout_path, method: "delete"  %>
      <% end %>
    <li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="category my-pets"><%= link_to "My Pets", pets_path %></li>
    <% current_user.my_pets.each do |pet| %>
      <li class="subcategory pet_<%= pet.id %>"><%= link_to pet.name, pet %></li>
    <% end %>
  </ul>
  <ul class="nav nav-sidebar">
    <li class ="category sitting-pets"><%= link_to "Pets I'm Sitting", pets_sitting_path %></li>
    <% current_user.sitting_pets.each do |pet| %>
      <li class="subcategory pet_<%= pet.id %>"><%= link_to pet.name, pet %></li>
    <% end %>
  </ul>
  <ul class="nav nav-sidebar">
</div>