<!DOCTYPE html>
<html>
<head>
  <title>Pet Tracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

  <div class="container-fluid">
    

      <% if current_user %>
        <div class="row">
          <%= render "layouts/sidebar" %>
          <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %> alert-dismissable"><%= value %>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      <% else  %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      <% end %>

  </div>



</body>
</html>
